.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
}

.content {
}

.recipes {
}

.reservation {
}

.menu {
}

.about {
}

.footer {
}
